*{
    padding: 0;
    margin :0;
    font-family: 'Josefine Sans', sans-serif; 
    box-sizing: border-box ;
}
.hero{
    height: 100vh;
    width: 100%;
background-image: url(../img/luballo.jpg);
background-size: cover ;
background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding-top:45px;
    padding-left: 8%;
    padding-right: 8%;

}

.logo{
color: bisque;
font-size: 35px;
letter-spacing: 1px;
cursor: pointer;
font-family: tahmoa;
}
span{
    color:saddlebrown;
    font-family: tahmoa;
}

nav ul li{
    list-style-type:none;
    display: inline-block;
    padding:10px 25px;
}
nav ul li a{
    color:black;
    text-decoration:underline;
    font-weight: bolder;
    text-transform:uppercase;
}

nav ul li a:hover{
    color:bisque;
    transition: .4s;
}
.btn{
    background-color: saddlebrown;
    color:beige;
    text-decoration:none;
    border: 2px double;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 20px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
.name{
    color:beige;
    margin: 20px 0px 20px;
    font-size: 75px;
    font-family:gabriola ;
    text-shadow:  -6px 1px 6px rgba(223, 135, 46, 0.94);
}
h3{
    color:beige;
    font-size: 25px;
    margin-bottom: 50px;
    font-family: tahoma;
}
h4{
    color:rgb(222, 139, 38);
    letter-spacing: 2px;
    font-size:20px ;
    font-family: tahoma;
}
.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding:14px 130px 14px 15px;
    border: 2px solid saddlebrown;
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
   position:absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding:10px 30px;
    border-radius: 30px;
    background-color: saddlebrown;
    color: beige;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
padding: 300px 0px ;
background-color: rgba(21, 19, 17, 0.893);
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 50px;
}
.about-text{
    width: 500px;
    color: wheat;
}
.main{
    width:1130px ;
    max-width:95% ;
    margin:0 auto;
    display: flex;
    justify-content:space-around ;
    align-items:center;
}
.about-text h2{
    color:white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 45px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 25px;
}
span1{
    color:gold ;
}
.about-text p{
    color:white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom:45px
}
button{
background-color: saddlebrown;
color: bisque;
text-decoration: none;
border:2px solid ;
border-radius: 30px;
padding:13px 30px ;
font-weight:bold ;
transition: .4s;
}
button:hover {
    background-color: transparent;
    border: 2px solid gold;
    cursor:pointer;
}
.service{
background-color: #9e47046d;
width: 100%;
padding: 100px 0px;
}
.title h2{
    color:#191919 ;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
    font-family: segoe print;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card {
    height: 356px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow:hidden;
    text-align: center;
}
.card i {
    font-size: 50px;
    color:darkcyan;
    display: block;
    text-align:center;
    margin: 25px 0px;
}
    h5{
        color: azure;
        font-size: 23px;
        margin-bottom: 15px;
    }
    .pra p{
        color:cadetblue;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 25px;
    }
    .card .button{
        background-color: saddlebrown;
color: bisque;
text-decoration: none;
border:2px solid ;
border-radius: 30px;
padding:13px 22px ;
font-weight:bold ;
transition: .4s;
    }
    .card .button:hover{
        background-color: transparent;
    border: 2px solid gold;
    cursor:pointer;
    }
    .contact-me{
        width: 100%;
        height: 290px;
        background-color:antiquewhite;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .contact-me p{
        color: #101010;;
        font-size: 30px;
        font-weight:bold ;
        margin-bottom:25px ;
        font-family:  sans-serif;
    }
    .contact-me .button-two{
        background-color:bisque;
color: saddlebrown;
text-decoration: none;
border:2px solid black;
border-radius: 30px;
padding:13px 30px ;
font-weight:bold ;
transition: .4s
    }
    .contact-me .button-two:hover{
        background-color:saddlebrown;
    border: 2px solid black;
    cursor:pointer;
    color: bisque;
    }
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url(../img/albero.jpg) ;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center ;
}
footer p:nth-child(1) {
    font-size: 30px;
    color:blueviolet;
    margin-bottom: 20px;
    font-weight: bolder;
}
footer p:nth-child(2){
    color:ivory;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    background:azure;
    border-radius: 50%;
    margin: 22px 10px;
    color: palevioletred;
    text-decoration:none;
    font-size: 20px;
}
.social a:hover{
    transition: .3s;
    transform:scale(1.3);
}
.end{
    position: bottom;
     font-size: 14px;
     bottom: 35px;
     color: ivory;
}